.dropdown-menu {
    background-color: #6750A4;
    border: none;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #5a4492; /* roxo um pouco mais escuro */
    color: #fff;
}

.dropdown-divider {
    border-color: rgba(255,255,255,0.2);
}