/* MENU */
.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    align-items: center;
}

.menu li {
    position: relative;
}

/* DROPDOWN */
.dropdown-menu {
    background-color: #6750A4;
    border: none;
    border-radius: 10px;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #5a4492;
    color: #fff;
}

.dropdown-divider {
    border-color: rgba(255,255,255,0.2);
}

/* REMOVE seta automática do Bootstrap */
.dropdown-toggle::after {
    display: none !important;
}