/* SABRINA */

/* ===========CAPA=========== */
.capa{
/*defini a altura da imagem */
height:300px;
/* determina que a imagem preencha todo o container sem distorcer */
object-fit:cover;
}

/* ===========PERFIL=========== */
.perfil{
/* define a largura da foto. */
width:150px;
height:150px;
object-fit:cover;
/* permite posicionar o elemento manualmente, ela se posiciona dentro da div pai */
position:absolute;
/* a foto ficará abaixo do fundo do container */
bottom:-70px;
/* move a foto para a direita a partir da borda esquerda. */
left:40px;
/* cria uma borda branca ao redor da imagem */
border:5px solid white;
/* adiciona sombra */
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* ===========BOTAO CONFIGURAÇÃO=========== */
.config-btn{
/* permite posicionar o botão manualmente na tela */
position:absolute;
/* move o botão para baixo da borda inferior do container */
bottom:-50px;
/* move o botão para dentro da borda direita */
right:30px;

width:45px;
height:45px;

background:white;
border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

/* define o tamanho do ícone */
font-size:20px;
color:#6f42c1;

box-shadow:0 4px 8px rgba(0,0,0,0.2);
/* define uma animação suave de 0.2 segundos quando algo muda */
transition:0.2s;
}

.config-btn:hover{
/* aumenta o tamanho do botão em 10% */
transform:scale(1.1);
}

/* ===========QUEM SOMOS=========== */
.quem-somos{
    color:#6750a4;
    /* font-weight: bold; */
}